.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.heading {
    margin: 20px;
}

.para {
    font-size: 18px;
    margin-bottom: 20px;
}

.button {
    width: 120px;
    height: 40px;
    font-size: 16px;
    border-radius: 10px;
}