.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: olivedrab;
  }
  
  .inputGroup {
    margin-bottom: 15px;
  }
  
  .input {
    padding: 10px;
    width: 200px;
    margin-top: 5px;
  }
  
  .btn {
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #2980b9;
  }
  