.contentArea {
  padding: 24px;
  overflow-y: auto;
  background-color: #fff;
  max-height: 100vh;
}

.testDisplay{
  display: grid;
  grid-template-columns: 1fr 1fr ;
}

.testCard{
  margin: 10px;
  background-color: #1976d2;
  padding: 20px;
  border: 2px solid #333;
  border-radius: 10px;
}

.testName {
  color: #fff;
  text-align: center;
  margin-bottom: 15px;
}

.testDetails {
  list-style: none;
}

.contentArea li {
  margin: 6px 0;
  padding: 6px;
  border-bottom: 1px solid #eee;
}
