.testItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 8px;
  border-bottom: 1px solid #ddd;
  margin-left: 20px;
  padding: 4px;
  cursor: pointer;
  color: #333;
}

.testItem:hover {
  background-color: #e0e0e0;
}

.testName {
  flex-grow: 1;
}

.openBtn {
  background-color: #0070f3;
  border: none;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
}

.openBtn:hover {
  background-color: #005bb5;
}